{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "@typescript-eslint/semi": "off",
    "object-curly-spacing": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "src/client"
  ]
}
